body {
  background-image: url(./img/bg.jpeg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  height: calc(var(--vh, 1vh) * 100);
  height: 100vh;
  min-height: 200px;
  background-attachment: scroll;
}
